In [1]:
sc

In [2]:
# The code was removed by DSX for sharing.

,YEARMONTH,INCIDENTCLASSIFICATION,INCIDENTBOROUGH,COMMUNITYBOARDCODE,INCIDENTCOUNT
0,YEARMONTH,INCIDENTCLASSIFICATION,INCIDENTBOROUGH,COMMUNITYBOARDCODE,INCIDENTCOUNT
1,200907,Structural Fires,Manhattan,1,20
2,200907,Structural Fires,Manhattan,2,35
3,200907,Structural Fires,Manhattan,3,42
4,200907,Structural Fires,Manhattan,4,21

In [3]:
# The code was removed by DSX for sharing.

[Row(YEARMONTH=u'YEARMONTH', INCIDENTCLASSIFICATION=u'INCIDENTCLASSIFICATION', INCIDENTBOROUGH=u'INCIDENTBOROUGH', COMMUNITYBOARDCODE=u'COMMUNITYBOARDCODE', INCIDENTCOUNT=u'INCIDENTCOUNT'),
 Row(YEARMONTH=u'200907', INCIDENTCLASSIFICATION=u'Structural Fires', INCIDENTBOROUGH=u'Manhattan', COMMUNITYBOARDCODE=u'1', INCIDENTCOUNT=u'20'),
 Row(YEARMONTH=u'200907', INCIDENTCLASSIFICATION=u'Structural Fires', INCIDENTBOROUGH=u'Manhattan', COMMUNITYBOARDCODE=u'2', INCIDENTCOUNT=u'35'),
 Row(YEARMONTH=u'200907', INCIDENTCLASSIFICATION=u'Structural Fires', INCIDENTBOROUGH=u'Manhattan', COMMUNITYBOARDCODE=u'3', INCIDENTCOUNT=u'42'),
 Row(YEARMONTH=u'200907', INCIDENTCLASSIFICATION=u'Structural Fires', INCIDENTBOROUGH=u'Manhattan', COMMUNITYBOARDCODE=u'4', INCIDENTCOUNT=u'21')]