In [1]:
sc

In [3]:
# The code was removed by DSX for sharing.

,mpg,cylinders,engine,horsepower,weight,acceleration,year,origin,name
0,18,8,307,130,3504,12.0,70,American,chevrolet chevelle malibu
1,15,8,350,165,3693,11.5,70,American,buick skylark 320
2,18,8,318,150,3436,11.0,70,American,plymouth satellite
3,16,8,304,150,3433,12.0,70,American,amc rebel sst
4,17,8,302,140,3449,10.5,70,American,ford torino